.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}

.portfolio li h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: .5rem;
}

.portfolio li .github::before {
  content: '';
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;
  background-image: url('../../../assets/icons/github.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: .5rem;
}