.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0.25rem solid white;
}

.header .title {
  font-family: 'Neue Machina';
}

.header .information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.information .job {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5rem;
  font-size: 1.125rem;
}

.information .job::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: .5rem;
}

.information p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5rem;
  font-size: 1.125rem;
}

.information p::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: .5rem;
}


.information .job::before {
  background-image: url('../../../assets/icons/job.svg');
}

.information .location::before {
  background-image: url('../../../assets/icons/location.svg');
}

.information .phone::before {
  background-image: url('../../../assets/icons/phone.svg');
}

.information .email::before {
  background-image: url('../../../assets/icons/email.svg');
}


@media only screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-areas:
      "photo title"
      "photo information";
  }

  .photo {
    grid-area: photo;
    margin: 0 auto;
  }

  .title {
    grid-area: title;
    text-align: start;

  }

  .information {
    grid-area: information;
  }
}
