.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.languages li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  font-weight: 700;
  font-size: 1.125rem;
}

.languages li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("../../../assets/icons/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 0.5rem;
  list-style-type: none;
}
