
* {
  box-sizing: border-box;
  font-family: "Opens Sans", sans-serif;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../src/assets/fonts/NeueMachina-Regular.otf');
}

body {
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

